each order in orders
    div.card.brad-0.shadow-small
        if order.pay_type_id === 1
            div.card-header.bg-grey.brad-0
                span.order_price #{order.price} ₴
                span.float-right
                    kbd.kbdord Готівка
        else
            div.card-header.bg-light-grey.brad-0
                span.order_price #{order.price} ₴
                span.float-right
                    kbd.kbdord #{order.name}
        div.card-body
            b Місце посадки:
            span #{order.address_from}
            br
            b Місце висадки:
            span #{order.address_to}
            if order.comment !== null
                br
                span.comment_order
                    b Коментар:
                    span #{order.comment}
            div.mt-2.ord_buttons
                a.btn.btn-warning.bg-warning-dark(href='/userprofile/' + order.user_id) Переглянути профіль клієнта
                a.btn.btn-dark(href='#{order.url}' target='blank') Відкрити маршрут
        div.card-footer
            button.btn.btn-warning.float-right(onclick="getOrder('#{order.id}')") Взяти поїздку

