div.content.m-5.mt-2

    each order in all_orders
        if order.status === 1
            div.row
                div.col-12.card.brad-0.shadow-small.p-0
                    div.card-header.bg-warning.brad-0
                        span.order_price В подорожі
                        span.float-right
                            kbd(class='bg_paytype_' + order.pay_type_id) #{order.name}
                    div.card-body.row
                        div.col-12
                            b Ціна:
                            span  #{order.price} ₴
                            br
                            b Місце посадки:
                            span #{order.address_from}
                            br
                            b Місце висадки:
                            span #{order.address_to}
                            if order.comment !== null
                                br
                                span.comment_order
                                b Коментар:
                                span #{order.comment}
                        div.col-12.mt-2
                        if type === 'client'
                            a.btn.btn-warning.bg-warning-dark.col-3.ml-3(style="overflow-x: hidden" href='/driver/'+ order.user_id) Переглянути профіль водія
                        else
                            a.btn.btn-warning.bg-warning-dark.col-3.ml-3(style="overflow-x: hidden" href='/user/'+ order.driver_id) Переглянути профіль клієнта
                        a.btn.btn-dark.col-3.ml-3(href='#{order.url}' target='blank') Відкрити маршрут
                    if type === 'driver'
                        div.card-footer
                            button.btn.btn-warning.float-right(onclick="endDrive('" + order.id + "')") Завершити поїздку
                            button.btn.btn-secondary.float-right.mr-3(onclick="cancelDrive('" + order.id + "')") Скасувати замовлення

    if type === 'client'
        div.row
            each order in all_orders
                if order.status === 0
                    div.col-12.card.brad-0.shadow-small.p-0
                        div.card-header.brad-0.bg-grey
                            span.order_price Замовлено
                            span.float-right
                                kbd(class='bg_paytype_' + order.pay_type_id) #{order.name}
                        div.card-body.row
                            div.col-12
                                b Ціна:
                                span  #{order.price} ₴
                                br
                                b Місце посадки:
                                span #{order.address_from}
                                br
                                b Місце висадки:
                                span #{order.address_to}
                                if order.comment !== null
                                    br
                                    span.comment_order
                                    b Коментар:
                                    span #{order.comment}
                        div.card-footer
                            button.btn.btn-warning.float-right(onclick="cancelDrive('" + order.id + "')") Скасувати замовлення
    div.row
        if all_orders.length > 0
            h3.col-sm-12.col-12.mb-3
                kbd Завершені поїздки
        else
            h3 У вас поки що немає історії поїздок
        each order in all_orders
            if order.status === 2 || order.status === 3 || order.status === 4
                div.col-12.card.brad-0.shadow-small.p-0
                    div.card-header.bg-light-grey.brad-0
                        if order.status === 4
                            span.order_price Завершено
                        else if order.status === 3
                            span.order_price.text-dark-red Скасовано клієнтом
                        else
                            span.order_price.text-dark-red Скасовано водієм
                        span.float-right
                            kbd(class='bg_paytype_' + order.pay_type_id) #{order.name}
                    div.card-body
                        b Ціна:
                        span  #{order.price} ₴
                        //if order.status === 4
                        //    br
                        //    b Тривалість поїздки:
                        //    span   #{order.time_diff}
                        br
                        b Місце посадки:
                        span  #{order.address_from}
                        br
                        b Місце висадки:
                        span  #{order.address_to}
                        if order.comment !== null
                            br
                            span.comment_order
                                b Коментар:
                                span  #{order.comment}
                        br
                        if type === 'client'
                            a.a( style="overflow-x: hidden" href='/driver/' + order.driver_id) Переглянути профіль водія
                        else if driver_id !== null
                            a.a(style="overflow-x: hidden" href='/user/' + order.user_id) Переглянути профіль клієнта
                        else
                            div.a Замовлення було скасовано раніше, ніж його взяв водій

include footer