div.content
    section.mt-4.container(id='profilesection')
        div.main_profile_part.row
            div.col-10.col-sm-5.col-md-4.col-lg-3.offset-md-1.offset-sm-0.offset-1
                img.profile_img(src=info.photo_src alt='')
            div.personal_info.col-12.col-sm-7.col-ld-8.row
                div.col-1.badge.badge-warning Driver
                div.col-11.col-sm-6
                    div.input-group
                        input.form-control.login.m-0(type="text" id='profile_login' value=info.login disabled)

                if info.description
                    div.col-12
                        textarea.status(disabled id='profile_desc')  #{info.description}
                div.input-group.col-12.col-sm-12.mb-2
                    div.input-group-prepend
                        span.input-group-text ПІ
                    input.form-control.m-0(type="text" id='profile_surname' value=info.surname disabled)
                    input.form-control.m-0(type="text" id='profile_name' value=info.name disabled)
                div.input-group.col-12.col-sm-12.mb-2
                    div.input-group-prepend
                        span.input-group-text Email
                    input.form-control.m-0(type="text" id='profile_email' value=info.email disabled)
                div.form-inline.row.col-12.col-sm-12.mb-2.pr-0
                    div.input-group.col-12.col-sm-12.col-md-4.pr-0
                        div.input-group-prepend
                            span.input-group-text Вік
                        input.form-control.m-0(type="number" min=21 max=65 id='profile_age' value=info.age disabled)
                    div.input-group.col-12.col-sm-12.pr-0.col-md-8
                        div.input-group-prepend
                            span.input-group-text Тел.
                        input.form-control.m-0(type="text" id='profile_phone' value=info.phone disabled)
            div.col-12.col-sm-6.col-md-7.col-ld-8.offset-sm-6.offset-md-5.offset-lg-4.row
                div.col-12.col-sm-6.accordion.p-0
                    div.card.border-0
                        div.card-header.border-0.bg-white.pl-0.pr-0
                            h5.mb-0
                            a.profile_drives.p-0.input-group(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                div.input-group-prepend
                                    span.input-group-text Загальна кількість поїздок:
                                b.form-control.m-0 #{info.total_amount}
                        div.collapse(id="collapseOne" aria-labelledby="headingOne")
                            div.card-body.p-0
                                div.input-group.mb-2
                                    div.input-group-prepend
                                        span.input-group-text Завершених:
                                    b.form-control.m-0 #{info.finished_amount}
                                div.input-group.mb-2
                                    div.input-group-prepend
                                        span.input-group-text Скасованих водіями:
                                    b.form-control.m-0 #{info.cancel_driver_amount}
                                div.input-group.mb-2
                                    div.input-group-prepend
                                        span.input-group-text Скасованих клієнтом:
                                    b.form-control.m-0 #{info.cancel_client_amount}

    div.driver_auto.pb-1.m-0
        div.form-inline.row
            div.input-group.col-12.mb-3.col-md-5.col-sm-12
                div.input-group-prepend
                    span.input-group-text Номер
                input.form-control.m-0(type="text" id='carnumber' value=info.carnumber disabled)
            div.input-group.col-12.mb-3.col-md-3.col-sm-4
                div.input-group-prepend
                    span.input-group-text Права
                input.form-control.m-0(type="text" value=info.licence disabled)
            div.input-group.col-12.mb-3.col-md-4.col-sm-8
                div.input-group-prepend
                    span.input-group-text Клас
                select.form-control.m-0(disabled id='carclassprofile')
                    if info.class === 'econom'
                        option(selected) econom
                        option comfort
                    else
                        option econom
                        option(selected) comfort
            div.input-group.col-12.mb-3.row.pr-0
                div.input-group-prepend.col-3.col-sm-2.pr-0
                    span.input-group-text Авто
                select.form-control.m-0.col-9.col-sm-4(disabled id='select_carproducer')
                    each prod in producers
                        if prod.prodid === info.producer_id
                            option.form-control(selected value=prod.prodid) #{prod.producer}
                        else
                            option.form-control(value=prod.prodid) #{prod.producer}
                select.form-control.m-0.col-8.col-sm-4(disabled id="select_carmodel")
                input.form-control.m-0.col-4.col-sm-2(type="number" id='profile_carid' min=2000 max=2020 value=info.caryear disabled)
include footer