section.condition
    div(id='foralert')
    h2
        kbd Замовити таксі
    hr
    div.container
        div.address_info.row
            div.col-12.col-sm-6
                div.form-group
                    label(for="address_from") Адреса відправлення:
                    input.form-control(type=text id='address_from' placeholder='Звідки?')
                div.form-group
                    label(for="address_to") Пункт призначення:
                    input.form-control(type=text id='address_to' placeholder='Куди їдемо?')
                div(style='margin-bottom: 12px')
                    div.form-check-inline
                        label.form-check-label
                            input.form-check-input(type='radio' name='class' checked)
                            span Econom
                    div.form-check-inline
                        label.form-check-label
                            input.form-check-input(type='radio' name='class')
                            span Comfort
                div.input-group
                    div.input-group-prepend
                        span.input-group-text Оплата
                    select.input-group-append.form-control(id="pay_type")
                        each type in pay_types
                            option.default_option(value=type.pay_id data-toggle="tooltip" title=type.notes) #{type.name}
            div.col-12.col-sm-6.ordercart(id="map")
            div.col-12.col-sm-12
                div.form-group
                    label(for="address_from") Коментар до замовлення:
                    textarea.form-control(id='notes' placeholder='Допишіть ваш коментар...')
                div.input-group.mb-3.align-content-center(style='width: 100%')
                    button.btn.btn-lg.btn-warning.mb-0(style='margin: auto; width: 40%' type='button' onclick='ordertaxi()') Замовити

script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=" + googlemapapi + "&libraries=places&callback=initMap")
script(src='../js/maps.js' type="text/javascript")
script(type='text/javascript') initAutocomplete();